@import 'variables.css';

.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.home.banner-container {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}

/* Home nav bar styling */

.home.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  font-family: 'helveticaBold';
  font-size: 15px;
  letter-spacing: 0.5;
  color: white;
  width: 100%;
  box-sizing: border-box;
  padding: 2% 10%;
  z-index: 1;
}

.write-review-wrapper {
  width: 30%;
  /* background: red; */
}

.write-review-wrapper a {
  text-decoration: none;
  color: white;
}

.write-review-wrapper, 
.home-login-logout-wrapper .login-logout-wrapper a:first-of-type {
  padding: 0 5px 5px 5px;
  border-bottom: 3px solid transparent;
}

.write-review-wrapper:hover,
.home-login-logout-wrapper .login-logout-wrapper a:first-of-type:hover {
  border-bottom: 3px solid white;
  cursor: pointer;
}

.home.login-logout-wrapper {
  width: 60%;
  /* background: orange; */
}

.home.login-logout-wrapper .login-logout-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.home.login-logout-wrapper .login-logout-wrapper a {
  text-decoration: none;
  color: white;
}

.home.login-logout-wrapper .login-logout-wrapper a:last-of-type { 
  box-sizing: border-box;
  border: 2px solid white;
  padding: 5px 20px;
  border-radius: 5px;
  margin-left: 30px;
  box-sizing: border-box;
}

.banner-container img {
  width: 100%;
}

.overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.logo-wrapper {
  position: absolute;
  top: 18%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo-wrapper img {
  position: absolute;
  width: 50px;
  top: 20%;
  left: 55.3%;
}

.logo-wrapper svg text { 
  font-family: 'helveticaRounded';
  font-size: 45px;
  font-weight: bold;
  fill: black;
  stroke: white;
  stroke-width: 12px;
  text-anchor: middle;
  dominant-baseline: middle;
  stroke-linecap: round;
  stroke-linejoin: round;
  paint-order: stroke fill;
}

.best-restaurants-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 55vh;
  padding-bottom: 40px;
  box-sizing: border-box;
  background-color: var(--background-color);
}

.header-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.header-wrapper h1 {
  font-family: 'helveticaBold';
  font-size: 21px;
  color: var(--red);
}

.categories-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  height: 55%;
  margin-top: 25px;
}

.categories-wrapper a {
  text-decoration: none;
  width: 22%;
  height: 100%;
}

a .thumbnail-wrapper {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.thumbnail-wrapper img {
  width: 100%;
  height: 100%;
}

.categories-wrapper a p {
  font-family: 'helveticaBold';
  color: var(--black);
  font-size: 15px;
  width: 100%;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  padding: 10px 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}

.main-content-wrapper {
  box-sizing: border-box;
  padding: 0 230px;
  width: 100%;
  height: 135vh;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 10px 0;
  width: 100%;
}

.other-cities-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cities-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  width: 70%;
}

.cities-wrapper p {
  padding: 0 3px 6px 3px;
  border-bottom: 3px solid transparent;
}

.cities-wrapper p:hover {
  cursor: pointer;
  border-bottom: 3px solid var(--red);
}

.cities-wrapper p a {
  font-family: 'helveticaNormal';
  font-size: 14px;
  color: var(--mid-text);
  text-decoration: none;
}

.underline-wrapper {
  position: absolute;
  top: 98%;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  z-index: -1;
}

.new-restaurants-wrapper {
  width: 100%;
  height: 100%;
}

.new-restaurants-wrapper h2 {
  font-family: 'helveticaBold';
  font-size: 16px;
  color: var(--red);
  margin-top: 40px;
} 

/* Dynamic styling */

@media screen and (min-width: 320px) {
  .home.nav-bar-container {
    font-size: calc(10px + 5 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .home.nav-bar-container {
    font-size: 15px;
  }
}
