@import 'variables.css';

.home-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.banner-wrapper {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.banner-wrapper .home-nav-bar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 200px;
  box-sizing: border-box;
  font-family: 'helveticaBold';
  font-size: 15px;
  color: white;
  z-index: 1;
}

.banner-wrapper .home-nav-bar-wrapper .login-logout-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  width: 25%;
  height: 30px;
}

.banner-wrapper .home-nav-bar-wrapper .login-logout-wrapper a {
  font-family: 'helveticaBold';
  font-size: 15px;
  color: white; 
  text-decoration: none;
}

.banner-wrapper .home-nav-bar-wrapper .login-logout-wrapper a:first-of-type {
  border-bottom: 2px solid transparent;
  text-align: center;
  width: 23%;
  height: 95%;
}

.banner-wrapper .home-nav-bar-wrapper .login-logout-wrapper a:first-of-type:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}

.banner-wrapper .home-nav-bar-wrapper .login-logout-wrapper a:last-of-type {
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 20px; 
  box-sizing: border-box;
  margin-left: 25px;
}

.banner-wrapper .home-nav-bar-wrapper .login-logout-wrapper a:last-of-type:hover {
  cursor: default;
}

.banner-wrapper img {
  position: absolute;
  top: -28%;
  left: -20%;
  transform: scale(0.8);
}

.overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.logo-wrapper {
  position: absolute;
  top: 18%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app-wrapper .home-wrapper .banner-wrapper .logo-wrapper svg text {
  font-family: 'helveticaRounded';
  font-size: 45px;
  font-weight: bold;
  fill: black;
  stroke: white;
  stroke-width: 12px;
  text-anchor: middle;
  dominant-baseline: middle;
  stroke-linecap: round;
  stroke-linejoin: round;
  paint-order: stroke fill;
}

.app-wrapper .home-wrapper .banner-wrapper .logo-wrapper img {
  position: absolute;
  width: 75px;
  top: 9%;
  left: 54.7%;
}

.search-input-wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 50px;
  background: white;
  border-radius: 5px;
}

.find-input-wrapper,
.near-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
  box-sizing: border-box;
}

.find-input-wrapper {
  width: 53%;
}

.near-input-wrapper {
  width: 47%;
}

.search-input-wrapper .find-input-wrapper label,
.search-input-wrapper .near-input-wrapper label {
  display: flex;
  flex-direction: row;
  font-family: 'helveticaBold';
  font-size: 18px;
  color: var(--mid-text);
  width: 100%;
}

.search-input-wrapper .find-input-wrapper label input,
.search-input-wrapper .near-input-wrapper label input {
  font-family: Helvetica;
  font-size: 18px;
  color: var(--black);
  border: none;
  margin-left: 10px;
  width: 100%;
}

.separator-wrapper {
  width: 1px;
  height: 35px;
  border-right: 1px solid var(--border-color);
}

.search-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  background: var(--red);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-button-wrapper:hover {
  background: var(--dark-red);
  transition: all 0.15s;
  cursor: pointer;
}

.search-button-wrapper:hover > .search-icon {
  content: url('/images/homepage/search_hover_icon.png');
  width: 20px;
  height: 20px;
}

.search-icon {
  content: url('/images/homepage/search_icon.png');
  width: 20px;
  height: 20px;
}

.best-restaurants-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px 0 40px 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

.header-wrapper {
  width: 100%;
  text-align: center;
}

.best-restaurants-wrapper .header-wrapper h1,
.header-wrapper h1 {
  font-family: 'helveticaBold';
  font-size: 23px;
  color: var(--red);
}

.restaurants-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin-top: 25px;
}

.surf-and-turf-wrapper,
.holiday-desserts-wrapper,
.chinese-wrapper,
.burgers-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  height: 190px;
  border-radius: 5px;
}

.thumbnail-wrapper {
  background: gray;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  height: 150px;
}

.surf-and-turf-wrapper p,
.holiday-desserts-wrapper p,
.chinese-wrapper p,
.burgers-wrapper p {
  font-family: 'helveticaBold';
  color: var(--black);
  font-size: 15px;
  width: 100%;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  padding: 10px 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.main-content-wrapper {
  box-sizing: border-box;
  padding: 0 230px;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 10px 0;
  width: 100%;
}

.other-cities-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cities-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'helveticaNormal';
  font-size: 14px;
  color: var(--mid-text);
  margin-top: 15px;
  width: 70%;
}

.cities-wrapper p {
  padding: 0 3px 6px 3px;
  border-bottom: 3px solid transparent;
}

.cities-wrapper p:hover {
  cursor: pointer;
  border-bottom: 3px solid var(--red);
}

.underline-wrapper {
  position: absolute;
  top: 98%;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  z-index: -1;
}

.new-restaurants-wrapper {
  width: 100%;
}

.new-restaurants-wrapper h2 {
  font-family: 'helveticaBold';
  font-size: 16px;
  color: var(--red);
  margin-top: 40px;
}