@import 'variables.css';

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 20vh;
  border-bottom: 1px solid var(--light-border-color);
  box-sizing: border-box; 
  padding: 0 5%; 
}

.navbar-home-logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  margin-right: 3%;
}

.navbar-home-logo-wrapper a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.navbar-home-logo-wrapper a:hover {
  cursor: pointer;
}

.navbar-home-logo-wrapper p {
  font-family: 'helveticaRounded';
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.navbar-home-logo-wrapper img {
  width: 25px;
  margin: -22px 0 0 2px;
}

.navbar-links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'helveticaMedium';
  color: var(--black);
  width: 40%;
  margin-left: 5%;
}

.navbar-review-link-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  padding: 1em;
}

.navbar-review-link-wrapper a { 
  text-decoration: none;
  color: var(--black);
}

.navbar-review-link-wrapper:hover {
  background: var(--light-border-color);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 1em;
  transition: all 0.5s;
  cursor: pointer;
}

.navbar-buttons-wrapper .login-logout-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.navbar-buttons-wrapper .login-logout-wrapper a {
  text-decoration: none;
}

.navbar-buttons-wrapper .login-logout-wrapper a:first-of-type,
.navbar-buttons-wrapper .login-logout-wrapper a:last-of-type {
  text-align: center;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 1em;
}

.navbar-buttons-wrapper .login-logout-wrapper a:first-of-type {
  color: var(--black);
  border: 1px solid var(--border-color);
  margin-right: 10px;
}

.navbar-buttons-wrapper .login-logout-wrapper a:last-of-type {
  background: var(--light-red);
  border: none;
  color: white; 
}

.navbar-buttons-wrapper .login-logout-wrapper a:first-of-type:hover {
  background: var(--light-border-color);
  transition: background 0.5s;
  cursor: pointer;
}

.navbar-buttons-wrapper .login-logout-wrapper a:last-of-type:hover {
  background: var(--red);
  transition: background 0.5s;
  cursor: pointer;
}

/* Dynamic styling */

@media screen and (min-width: 320px) {
  .navbar-review-link-wrapper {
    font-size: calc(4px + 11 * ((100vw - 320px) / 680));
  }

  .navbar-buttons-wrapper .login-logout-wrapper  {
    font-size: calc(4px + 12 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .navbar-review-link-wrapper {
    font-size: 15px;
  }

  .navbar-buttons-wrapper .login-logout-wrapper {
    font-size: 16px;
  }
}