@import 'variables.css';

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 19vh;
  border-bottom: 1px solid var(--light-border-color);
  box-sizing: border-box;
  padding: 0 50px;
}

.navbar-home-logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  margin-right: 30px;
}

.navbar-home-logo-wrapper a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.navbar-home-logo-wrapper a:hover {
  cursor: pointer;
}

.navbar-home-logo-wrapper p {
  font-family: 'helveticaRounded';
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.navbar-home-logo-wrapper img {
  width: 25px;
  margin: -22px 0 0 2px;
}

.navbar-links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'helveticaMedium';
  font-size: 15px;
  color: var(--black);
  width: 40%;
  margin-left: 50px;
}

.navbar-review-link-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 10px 15px;
}

.navbar-review-link-wrapper a {
  text-decoration: none;
  color: var(--black);
}

.navbar-review-link-wrapper:hover {
  background: var(--light-border-color);
  border-radius: 5px;
  padding: 10px 15px;
  transition: all 0.5s;
  cursor: pointer;
}

.navbar-buttons-wrapper .login-logout-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  font-size: 16px;
}

.navbar-buttons-wrapper .login-logout-wrapper a {
  text-decoration: none;
}

.navbar-buttons-wrapper .login-logout-wrapper a:first-of-type,
.navbar-buttons-wrapper .login-logout-wrapper a:last-of-type {
  text-align: center;
  border-radius: 5px;
  padding: 10px 15px;
}

.navbar-buttons-wrapper .login-logout-wrapper a:first-of-type {
  color: var(--black);
  border: 1px solid var(--border-color);
  margin-right: 10px;
}

.navbar-buttons-wrapper .login-logout-wrapper a:last-of-type {
  background: var(--light-red);
  border: none;
  color: white;
}

.navbar-buttons-wrapper .login-logout-wrapper a:first-of-type:hover {
  background: var(--light-border-color);
  transition: background 0.5s;
  cursor: pointer;
}

.navbar-buttons-wrapper .login-logout-wrapper a:last-of-type:hover {
  background: var(--red);
  transition: background 0.5s;
  cursor: pointer;
}