/* Reset CSS style */

* {
  font-family: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html, body {
  width: 100%;
  height: 100%; 
  overflow-x: hidden;
}

#root, .app-wrapper {
  width: 100%;
  height: 100%;
}

input, button {
  border: none;
  outline: none;
}

input:focus {
  outline: none;
}