@import 'variables.css';

.restaurant-detail.body-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* Restaurant detail banner styling */

.restaurant-detail.banner-container {
  position: relative;
  width: 100%;
  padding-top: 18%;
}

.restaurant-detail.photos-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.restaurant-detail.thumbnail-wrapper {
  position: relative;
  width: 24.8%;
  height: 100%;
  overflow: hidden;
}

.restaurant-detail.thumbnail-wrapper img { 
  height: 100%;
  transform: scale(1.25);
}

.restaurant-detail.banner-container a {
  position: absolute;
  top: 75%;
  left: 90%;
  font-family: 'helveticaMedium'; 
  color: var(--black); 
  background: white;
  box-sizing: border-box;
  padding: 0.5% 1%;
  border-radius: 3px;
  text-decoration: none;
}

.restaurant-detail.button-wrapper:hover {
  background: var(--light-border-color);
  transition: background 0.5s;
  cursor: pointer;
}

/* Restaurant detail text styling */

.restaurant-detail.text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 2.5% 15%;
  box-sizing: border-box;
}

.restaurant-detail.main-info-wrapper {
  width: 63%;
}

/* Restaurant text header styling */

.restaurant-detail.header-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
}

.restaurant-detail.header-wrapper h1 {
  font-family: 'helveticaBold';
  color: var(--black);
  margin-right: 0.5em;
}

.restaurant-detail.claimed-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.7em;
}

.restaurant-detail.claimed-wrapper img {
  width: 15px;
}

.restaurant-detail.claimed-wrapper p {
  font-family: 'helveticaNormal';
  color: var(--black);
  margin-left: 3px;
}

.restaurant-detail.ratings-and-reviews-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.restaurant-detail.ratings-and-reviews-wrapper img {
  height: 1.5em;
}

.restaurant-detail.ratings-and-reviews-wrapper p {
  font-family: 'helveticaNormal';
  color: var(--mid-text);
  margin-left: 1.5%;
}
 
.restaurant-detail.price-category-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2%;
}

.restaurant-detail.price-category-wrapper p {
  font-family: sans-serif;
  color: var(--black);
}

.restaurant-detail.dot-wrapper {
  color: var(--subtle-text);
  font-size: 10px;
  padding: 0 10px;
}

.restaurant-detail.price-category-wrapper a {
  text-decoration: none;
  font-family: sans-serif;
  color: var(--blue);
  margin-right: 3px;
}

.restaurant-detail.price-category-wrapper a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.restaurant-detail.review-button-container {
  display: inline-block;
  white-space: nowrap;
  font-family: 'helveticaBold';
  color: var(--red);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  margin-top: 2%;
  box-sizing: border-box;
  padding: 1.5% 3%;
}

.restaurant-detail.review-button-container:hover {
  background: var(--button-hover-light-red);
  border: 1px solid var(--button-border-hover-red);
  transition: all 0.5s;
  cursor: pointer;
}

.restaurant-detail.review-button-container img {
  display: inline-block;
  width: 2em;
  box-sizing: border-box;
  padding-right: 5%;
  vertical-align: middle;
}

.restaurant-detail.review-button-container p {
  display: inline-block;
  vertical-align: middle;
}

/* Restaurant text popular dishes styling */

.restaurant-detail.popular-dishes-container,
.restaurant-detail.location-and-hours-container,
.restaurant-detail.amenities-container,
.restaurant-detail.reviews-container {
  border-top: 1px solid var(--light-border-color);
  box-sizing: border-box;
  padding: 3% 0; 
  margin-top: 3%;
}

.restaurant-detail.popular-dishes-container h3,
.restaurant-detail.location-and-hours-container h3,
.restaurant-detail.amenities-container h3,
.restaurant-detail.reviews-container h3 {
  font-family: 'helveticaBold';
  color: var(--black);
}

.restaurant-detail.dishes-wrapper,
.restaurant-detail.map-hours-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}

.restaurant-detail.dish-wrapper {
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 100%;
  margin-right: 15px;
}

.restaurant-detail.dish-thumb-wrapper {
  position: relative;
  width: 100%;
  padding-top: 65%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
}

.restaurant-detail.dish-thumb-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.restaurant-detail.dish-text-wrapper {
  font-family: 'helveticaMedium';
  width: 100%;
  box-sizing: border-box;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 8% 0 7% 8%;
}

.restaurant-detail.dish-photo-review-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-family: 'helveticaNormal';
  color: var(--subtle-text);
}

.restaurant-detail.dish-photo-review-wrapper p:nth-of-type(2n) {
  font-family: sans-serif;
  padding: 0 2%;
}

/* Restaurant location and hours styling */

.restaurant-detail.map-hours-wrapper {
  width: 100%;
}

.restaurant-detail.map-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 180px;
  padding-top: 40%;
}

.restaurant-detail.map-wrapper .map-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
  box-sizing: border-box;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.restaurant-detail.map-text-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 65%;
  left: 0;
  width: 100%;
  height: 35%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  font-family: 'helveticaBold';
  color: var(--black);
  box-sizing: border-box;
  padding-left: 4%;
  line-height: 1.4;
}

.restaurant-detail.map-text-wrapper p:last-of-type {
  font-family: 'helveticaNormal';
}

/* Restaurant hours styling */

.restaurant-detail.hours-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  width: 50%;
}

.restaurant-detail.weekday-wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'helveticaBold';
  color: var(--black);
}

.restaurant-detail.all-hours-wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'helveticaNormal';
  color: var(--black);
  margin-left: 5%;
}

.restaurant-detail.weekday-hours-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.restaurant-detail.closed-wrapper,
.restaurant-detail.open-wrapper {
  display: inline-block;
  font-family: 'helveticaBold';
  margin-left: 5%;
}

.restaurant-detail.closed-wrapper {
  color: var(--red);
}

.restaurant-detail.open-wrapper {
  color: var(--green);
}

/* Restaurant amenities styling */

.restaurant-detail.amenity-preview-wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  height: 13.5vh;
}

.restaurant-detail.amenity-preview-wrapper li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  padding: 2%;
}

.restaurant-detail.amenity-extra-wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  list-style: none;
}

.restaurant-detail.amenity-extra-wrapper li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.restaurant-detail.first-amenity-pair,
.restaurant-detail.second-amenity-pair {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  padding: 2%;
}

.healthScore-icon-wrapper,
.takesReservations-icon-wrapper,
.delivery-icon-wrapper,
.goodForHappyHour-icon-wrapper,
.vegetarianOptions-icon-wrapper,
.takeOut-icon-wrapper,
.acceptsCreditCards-icon-wrapper,
.wifi-icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 7%;
}

.healthScore-icon-wrapper img,
.takesReservations-icon-wrapper img,
.delivery-icon-wrapper img,
.goodForHappyHour-icon-wrapper img,
.vegetarianOptions-icon-wrapper img,
.acceptsCreditCards-icon-wrapper img,
.wifi-icon-wrapper img,
.acceptsCreditCards-icon-wrapper img {
  width: 100%;
}

.takeOut-icon-wrapper img {
  width: 70%;
}

.restaurant-detail.amenities-list-wrapper ul li p:first-of-type {
  font-family: 'helveticaNormal';
  color: var(--black);
  margin-left: 3%;
}

.restaurant-detail.amenities-list-wrapper ul li p:last-of-type {
  font-family: 'helveticaBold';
  color: var(--black);
  margin-left: 5px;
}

/* Restaurant view more amenities styling */

.restaurant-detail.view-more-wrapper {
  font-family: 'helveticaNormal';
  color: var(--blue);
  margin-top: 5%;
}

.restaurant-detail.view-more-wrapper:hover {
  cursor: pointer;
}

/* Restaurant reviews styling */

.restaurant-detail.reviews-container ul {
  margin-top: 2%;
}

.restaurant-detail.reviews-container ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 4% 0;
  border-bottom: 1px solid var(--light-border-color);
}

.restaurant-detail.user-profile-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 25%;
}

.restaurant-detail.user-profile-container img {
  width: 32%;
  border-radius: 5px;
  margin-right: 7%;
}

.restaurant-detail.username-wrapper {
  font-family: 'helveticaBold';
  color: var(--blue);
}

.restaurant-detail.friends-wrapper,
.restaurant-detail.total-reviews-wrapper,
.restaurant-detail.total-photos-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'helveticaNormal';
  color: var(--black);
}

.restaurant-detail.friends-wrapper img,
.restaurant-detail.total-reviews-wrapper img,
.restaurant-detail.total-photos-wrapper img {
  width: 17%;
  height: 17%;
  margin-right: 8%;
  border-radius: 0;
}

.restaurant-detail.friends-wrapper p:first-of-type,
.restaurant-detail.total-reviews-wrapper p:first-of-type,
.restaurant-detail.total-photos-wrapper p:first-of-type {
  font-family: 'helveticaBold';
  margin-right: 5%;
}

.restaurant-detail.user-review-container {
  width: 65%;
}

.restauranat-detail.rating-date-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: sans-serif;
  color: var(--mid-text);
}

.restauranat-detail.rating-date-wrapper img {
  width: 25%;
  min-width: 70px;
  margin-right: 2%;
}

.restaurant-detail.review-photos-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'helveticaNormal';
  color: var(--blue);
  margin-top: 3%;
}

.restaurant-detail.review-photos-wrapper img {
  width: 4%;
  min-width: 10px;
  margin-right: 1%; 
}  

.restaurant-detail.review-body-container {
  font-family: 'helveticaNormal';
  color: var(--black);
  line-height: 1.25;
  margin-top: 3%;
}

/* Dynamic styling */

@media screen and (min-width: 320px) {
  .restaurant-detail.header-wrapper h1 {
    font-size: calc(25px + 5 * ((100vw - 320px) / 680));
  }

  .restaurant-detail.claimed-wrapper p,
  .restaurant-detail.dish-text-wrapper,
  .restaurant-detail.weekday-wrapper,
  .restaurant-detail.all-hours-wrapper {
    font-size: calc(10px + 4 * ((100vw - 320px) / 680));
  }

  .restaurant-detail.map-text-wrapper {
    font-size: calc(6px + 8 * ((100vw - 320px) / 680));
  }

  .restaurant-detail.ratings-and-reviews-wrapper p,
  .restaurant-detail.price-category-wrapper p,
  .restaurant-detail.price-category-wrapper a {
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  }

  .restaurant-detail.banner-container a {
    font-size: calc(7px + 7 * ((100vw - 320px) / 680));
  }

  .restaurant-detail.review-button-container,
  .restaurant-detail.closed-wrapper,
  .restaurant-detail.open-wrapper {
    font-size: calc(9px + 4 * ((100vw - 320px) / 680));
  }

  .restaurant-detail.popular-dishes-container h3,
  .restaurant-detail.location-and-hours-container h3,
  .restaurant-detail.amenities-container h3,
  .restaurant-detail.reviews-container h3 {
    font-size: calc(13px + 3 * ((100vw - 320px) / 680));
  }

  .restaurant-detail.dish-photo-review-wrapper,
  .restaurant-detail.friends-wrapper,
  .restaurant-detail.total-reviews-wrapper,
  .restaurant-detail.total-photos-wrapper {
    font-size: calc(4px + 8 * ((100vw - 320px) / 680));
  }

  .restaurant-detail.amenities-list-wrapper ul li p:first-of-type,
  .restaurant-detail.amenities-list-wrapper ul li p:last-of-type {
    font-size: calc(5px + 9 * ((100vw - 320px) / 680));
  }

  .restaurant-detail.view-more-wrapper {
    font-size: calc(6px + 6 * ((100vw - 320px) / 680));
  }

  .restaurant-detail.username-wrapper {
    font-size: calc(5px + 9 * ((100vw - 320px) / 680));
  }

  .restauranat-detail.rating-date-wrapper,
  .restaurant-detail.review-body-container {
    font-size: calc(10px + 4 * ((100vw - 320px) / 680));
  }

  .restaurant-detail.review-photos-wrapper {
    font-size: calc(10px + 2 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .restaurant-detail.header-wrapper h1 {
    font-size: 30px;
  }

  .restaurant-detail.claimed-wrapper p,
  .restaurant-detail.dish-text-wrapper,
  .restaurant-detail.map-text-wrapper,
  .restaurant-detail.weekday-wrapper,
  .restaurant-detail.all-hours-wrapper,
  .restaurant-detail.amenities-list-wrapper ul li p:first-of-type,
  .restaurant-detail.amenities-list-wrapper ul li p:last-of-type,
  .restaurant-detail.username-wrapper,
  .restauranat-detail.rating-date-wrapper,
  .restaurant-detail.review-body-container {
    font-size: 14px;
  }

  .restaurant-detail.ratings-and-reviews-wrapper p,
  .restaurant-detail.price-category-wrapper p,
  .restaurant-detail.price-category-wrapper a {
    font-size: 16px;
  }

  .restaurant-detail.banner-container a,
  .restaurant-detail.popular-dishes-container h3,
  .restaurant-detail.location-and-hours-container h3,
  .restaurant-detail.amenities-container h3,
  .restaurant-detail.reviews-container h3 { 
    font-size: 16px;
  }

  .restaurant-detail.review-button-container,
  .restaurant-detail.closed-wrapper,
  .restaurant-detail.open-wrapper {
    font-size: 13px;
  }

  .restaurant-detail.dish-photo-review-wrapper,
  .restaurant-detail.view-more-wrapper,
  .restaurant-detail.friends-wrapper,
  .restaurant-detail.total-reviews-wrapper,
  .restaurant-detail.total-photos-wrapper,
  .restaurant-detail.review-photos-wrapper {
    font-size: 12px;
  }
}