@import 'variables.css';

.restaurant-index.thumbnails-wrapper { 
  width: 100%;
  height: 100%;
}

.restaurant-index.thumbnails-wrapper ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  margin-top: 2%;
}

.restaurant-index.thumbnails-wrapper ul li {
  width: 31%;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid var(--light-border-color);
  margin-bottom: 5%;
}

.restaurant-index.thumbnails-wrapper ul li a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
}

.restaurant-index.thumbnails-wrapper ul li a > img {
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.restaurant-index.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 5%;
}

.restaurant-index.text-wrapper p {
  font-family: 'helveticaNormal';
  color: var(--black);
}

.restaurant-index.text-wrapper h3 {
  font-family: 'helveticaBold';
  color: var(--blue);
}

.restaurant-index.text-wrapper h3:hover {
  cursor: pointer;
  text-decoration: underline;
}

.restaurant-index.price-and-category-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.restaurant-index.price-and-category-wrapper p {
  font-family: sans-serif;
  color: var(--black);
}

.restaurant-index.price-and-category-wrapper .dot-wrapper {
  color: var(--subtle-text);
  margin: 0 2%;
}

.restaurant-index.price-and-category-wrapper p:last-of-type {
  font-family: 'helveticaNormal';
}

.restaurant-index.new-open-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3% 0 2% 0;
}

.restaurant-index.new-open-wrapper img {
  width: 10%;
  margin-right: 3%;
}

.restaurant-index.new-open-wrapper p {
  font-family: 'helveticaMedium';
  color: var(--orange);
}

/* Dynamic styling */

@media screen and (min-width: 320px) {
  .restaurant-index.text-wrapper h3 {
    font-size: calc(5px + 12 * ((100vw - 320px) / 680));
  }

  .restaurant-index.price-and-category-wrapper p {
    font-size: calc(10px + 5 * ((100vw - 320px) / 680));
  }

  .restaurant-index.price-and-category-wrapper p:last-of-type,
  .restaurant-index.text-wrapper p,
  .restaurant-detail.open-wrapper p {
    font-size: calc(1px + 13 * ((100vw - 320px) / 680));
  }

  .restaurant-index.price-and-category-wrapper .dot-wrapper {
    font-size: calc(9px + 3 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .restaurant-index.text-wrapper h3 {
    font-size: 17px;
  }

  .restaurant-index.price-and-category-wrapper p {
    font-size: 15px;
  }
  
  .restaurant-index.price-and-category-wrapper p:last-of-type,
  .restaurant-index.text-wrapper p,
  .restaurant-detail.open-wrapper p {
    font-size: 14px;
  }

  .restaurant-index.price-and-category-wrapper .dot-wrapper {
    font-size: 12px;
  }
}