@import 'variables.css';

.restaurant-detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.restaurant-detail-banner-wrapper {
  position: relative;
}

.restaurant-detail-photos-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.restaurant-detail-body-wrapper {
  width: 63%;
}

.restaurant-detail-thumbnail-wrapper {
  position: relative;
  width: 24.7%;
  height: 240px;
  overflow: hidden;
}

.restaurant-detail-thumbnail-wrapper img { 
  height: 100%;
  transform: scale(1.25);
}

.restaurant-detail-gallery-button-wrapper {
  position: absolute;
  top: 80%;
  left: 92%;
}

.restaurant-detail-gallery-button-wrapper a {
  font-family: 'helveticaBold';
  font-size: 14px;
  color: var(--mid-text);
  background: white;
  padding: 6px 18px;
  box-sizing: border-box;
  border-radius: 3px;
  text-decoration: none;
}

.restaurant-detail-gallery-button-wrapper:hover {
  background: var(--light-border-color);
  transition: background 0.5s;
  cursor: pointer;
}

.restaurant-detail-main-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 25px 230px;
  box-sizing: border-box;
}

.restaurant-detail-header-wrapper {
  display: flex;
  flex-direction: row;
}

.restaurant-detail-header-wrapper h1 {
  font-family: 'helveticaBold';
  font-size: 30px;
  color: var(--black);
}

.restaurant-detail-claimed-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0 0 10px;
}

.restaurant-detail-claimed-wrapper img {
  width: 15px;
}

.restaurant-detail-claimed-wrapper p {
  font-family: 'helveticaNormal';
  font-size: 14px;
  color: var(--black);
  margin-left: 3px;
}

.restaurant-detail-ratings-and-reviews-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stars-icon-wrapper img {
  height: 25px;
}

.restaurant-detail-ratings-and-reviews-wrapper p {
  font-family: 'helveticaNormal';
  color: var(--mid-text);
  font-size: 16px;
  margin-left: 8px;
  line-height: 25px;
}
 
.restaurant-detail-price-and-category-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.restaurant-detail-price-and-category-wrapper p:first-of-type {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--black);
}

.restaurant-detail-price-and-category-dot-wrapper {
  color: var(--subtle-text);
  font-size: 10px;
  padding: 0 10px;
}

.restaurant-detail-price-and-category-wrapper p:last-of-type {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--blue);
}

.restaurant-detail-price-and-category-wrapper p:last-of-type:hover {
  text-decoration: underline;
  cursor: pointer;
}

.restaurant-detail-menu-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--light-border-color);
}

.review-button-container,
.photo-button-container,
.save-button-container {
  border: 1px solid var(--border-color);
  border-radius: 3px;
  width: 128px;
  height: 33px;
}

.photo-button-container {
  width: 110px;
  margin: 0 15px;
}

.save-button-container {
  width: 70px;
}

.review-button-container:hover {
  background: var(--button-hover-light-red);
  border: 1px solid var(--button-border-hover-red);
  transition: all 0.5s;
  cursor: pointer;
}

.photo-button-container:hover,
.save-button-container:hover {
  background: var(--background-color);
  transition: background 0.5s;
  cursor: pointer;
}

.review-button-wrapper,
.photo-button-wrapper,
.save-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'helveticaBold';
  font-size: 13px;
  color: var(--red);
  width: 100%;
  height: 100%;
}

.photo-button-wrapper,
.save-button-wrapper {
  color: var(--mid-text);
}

.review-button-icon-wrapper {
  display: flex;
  flex-direction: row;
  width: 15px;
  margin-right: 5px;
}

.photo-button-icon-wrapper {
  width: 16px;
  height: 15px;
  margin-right: 5px;
}

.save-button-icon-wrapper {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.review-button-wrapper img,
.photo-button-wrapper img,
.save-button-wrapper img {
  width: 100%;
}

.restaurant-detail-popular-dishes-container,
.restaurant-detail-location-and-hours-wrapper, 
.restaurant-detail-amenities-wrapper,
.restaurant-detail-recommended-reviews-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--light-border-color);
}

.restaurant-detail-recommended-reviews-wrapper {
  border-bottom: none;
}

.restaurant-detail-popular-dishes-container h3,
.restaurant-detail-location-and-hours-wrapper h3,
.restaurant-detail-amenities-wrapper h3,
.restaurant-detail-recommended-reviews-wrapper h3 {
  font-family: 'helveticaBold';
  font-size: 16px;
  color: var(--black);
}

.popular-dishes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.dish-wrapper {
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 190px;
  margin-right: 15px;
}

.dish-image-wrapper {
  width: 100%;
  height: 117px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
}

.dish-image-wrapper img {
  width: 100%;
}

.dish-text-wrapper {
  font-family: 'helveticaMedium';
  font-size: 14px;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 15px 0 0 15px;
}

.dish-reviews-and-photos-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-family: 'helveticaNormal';
  font-size: 12px;
  color: var(--subtle-text);
}

.dish-reviews-and-photos-wrapper p:nth-of-type(2n) {
  font-family: sans-serif;
  padding: 0 3px;
}

.restaurant-detail-location-and-hours-body-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
}

.restaurant-detail-map-wrapper {
  display: flex;
  flex-direction: column;
  width: 52%;
}

.restaurant-detail-map-image-wrapper {
  width: 100%;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.restaurant-detail-map-image-wrapper .map-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.restaurant-detail-map-text-info-wrapper {
  width: 100%;
  height: 82px;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  font-family: 'helveticaBold';
  font-size: 14px;
  color: var(--black);
  padding: 10px 0 0 12px;
  line-height: 1.4;
}

.restaurant-detail-map-text-info-wrapper p:last-of-type {
  font-family: 'helveticaNormal';
}

.restaurant-detail-hours-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
  width: 48%;
}

.restaurant-detail-weekday-wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'helveticaBold';
  font-size: 14px;
  color: var(--black);
  line-height: 1.3;
}

.restaurant-detail-open-and-close-wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'helveticaNormal';
  font-size: 14px;
  color: var(--black);
  line-height: 1.3;
  letter-spacing: 0.5px;
  margin-left: 20px;
}

.restaurant-detail-open-and-close-wrapper section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.restaurant-detail-closed-wrapper,
.restaurant-detail-open-wrapper {
  font-family: 'helveticaBold';
  font-size: 12.5px;
  color: var(--red);
  letter-spacing: -0.15px; 
  margin-left: 5px;
}

.restaurant-detail-open-wrapper {
  color: var(--green);
}

.amenities-list-container {
  display: flex;
  flex-direction: column; 
  box-sizing: border-box;
  padding-top: 10px;
}

.amenities-list-container ul {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.amenities-list-container ul li {
  padding-bottom: 15px;
}

.amenities-list-container .extra-amenities-container li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.amenities-list-container ul li,
.amenities-list-container .extra-amenities-container li .extra-amenity-pair-first,
.amenities-list-container .extra-amenities-container li .extra-amenity-pair-second  {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.amenities-list-container .extra-amenities-container li .extra-amenity-pair-first {
  width: 411px;
}

.amenities-list-container ul:first-of-type {
  height: 75px;
}

.healthScore-icon-wrapper,
.takesReservations-icon-wrapper,
.delivery-icon-wrapper,
.goodForHappyHour-icon-wrapper,
.vegetarianOptions-icon-wrapper,
.takeOut-icon-wrapper,
.acceptsCreditCards-icon-wrapper,
.wifi-icon-wrapper {
  width: 30px;
  height: 18px;
  text-align: center;
}

.healthScore-icon-wrapper img,
.takesReservations-icon-wrapper img,
.delivery-icon-wrapper img,
.goodForHappyHour-icon-wrapper img,
.vegetarianOptions-icon-wrapper img,
.takeOut-icon-wrapper img,
.acceptsCreditCards-icon-wrapper img {
  height: 100%;
}

.wifi-icon-wrapper img {
  height: 15px;
}

.amenities-list-container ul li p:first-of-type {
  font-family: 'helveticaNormal';
  color: var(--black);
  font-size: 14px;
  margin-left: 5px;
}

.amenities-list-container ul li p:last-of-type {
  font-family: 'helveticaBold';
  color: var(--black);
  font-size: 14px;
  margin-left: 5px;
}

.restaurant-detail-view-more-amenities-wrapper {
  font-family: 'helveticaNormal';
  font-size: 12px;
  color: var(--blue);
  width: 16%;
  margin-top: 20px;
}

.restaurant-detail-view-more-amenities-wrapper:hover {
  text-decoration: underline;
  cursor: pointer;
}

.restaurant-detail-sidebar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 32%;
  height: 105px;
  border: 1px solid var(--light-border-color);
  border-radius: 5px;
  font-family: 'helveticaNormal';
  font-size: 13px;
  color: var(--black); 
  padding: 15px 10px;
  box-sizing: border-box;
  margin-left: 20px;
}

.restaurant-detail-phone-wrapper,
.restaurant-detail-directions-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-left: 15px;
}

.restaurant-detail-directions-wrapper a {
  text-decoration: none;
  color: var(--blue);
}

.restaurant-detail-phone-icon {
  width: 18px;
  height: 18px;
}

.restaurant-detail-directions-icon {
  width: 23px;
  height: 23px;
}

.restaurant-detail-phone-icon img,
.restaurant-detail-directions-icon img {
  width: 100%;
}

.restaurant-detail-phone-wrapper p,
.restaurant-detail-directions-wrapper a {
  margin-left: 15px;
}

.restaurant-detail-directions-wrapper a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.restaurant-detail-sidebar-wrapper .sidebar-underline-wrapper {
  border-bottom: 1px solid var(--light-border-color);
  width: 100%;
  height: 1px;
}

/* Styling for reviews */
.review-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid var(--light-border-color);
  width: 100%;
}

.user-info-container {
  display: flex;
  flex-direction: row;
  width: 25%;
}

.profile-photo-container img {
  width: 55px;
  height: 55px;
  background: lightblue;
  border-radius: 5px;
}

.stats-container {
  margin-left: 8px;
}

.stats-user-name-container {
  font-family: 'helveticaBold';
  font-size: 14px;
  color: var(--blue);
}

.stats-user-name-container,
.stats-friends-container,
.stats-num-reviews-container,
.stats-num-photos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stats-friends-container,
.stats-num-reviews-container,
.stats-num-photos-container {
  font-family: 'helveticaNormal';
  font-size: 12px;
  color: var(--black);
}

.stats-friends-container p:first-of-type,
.stats-num-reviews-container p:first-of-type,
.stats-num-photos-container p:first-of-type {
  font-family: 'helveticaBold';
  margin-right: 3px;
}

.friends-icon-container,
.num-reviews-icon-container,
.num-photos-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 20px;
  height: 13px;
}

.stats-friends-container img,
.stats-num-photos-container img {
  width: 13px;
  height: 11px;
}

.stats-num-reviews-container img {
  height: 100%;
}

.user-review-container {
  display: flex;
  flex-direction: column;
}

.user-review-container {
  width: 65%;
}

.stars-icon-and-date-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.stars-icon-wrapper {
  height: 19px;
  margin-right: 7px;
  padding: 5px 0;
}

.stars-icon-wrapper img {
  height: 100%;
}

.stars-icon-and-date-container p {
  font-family: sans-serif;
  font-size: 14px;
  color: var(--mid-text);
}

.review-photos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'helveticaNormal';
  font-size: 12px;
  color: var(--blue);
  padding-bottom: 10px;
}

.review-photos-container img {
  height: 15px;
  margin-right: 3px;
}

.body-container {
  font-family: 'helveticaNormal';
  font-size: 14px;
  color: var(--black);
  line-height: 1.25;
}