@import 'variables.css';

.first-review-container {
  width: 100%;
  height: 100%;
}

/* Banner styling */

.first-review-banner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 4% 3%;
  background: var(--background-color);
}

.banner-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  margin-right: 5%;
}

.first-review-banner-wrapper img {
  width: 25%;
}

.banner-text-wrapper h1 {
  font-family: 'helveticaBold';
  color: var(--black);
}

.banner-text-wrapper p {
  font-family: 'helveticaNormal';
  color: var(--black);
  margin-top: 10px;
}

.banner-text-wrapper .search-form.home {
  position: relative;
  width: 90%;
  height: 3em;
  margin: 2% 0 0 0;
}

.banner-text-wrapper .search-form.home .search-form.input-wrapper label {
  box-sizing: border-box;
  padding-left: 2%;
}

/* Businesses styling */

.first-review-businesses-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 65%;
  margin-top: 3%;
}

.first-review-businesses-wrapper h2 {
  font-family: 'helveticaBold';
  color: var(--red);
}

.first-review-businesses-wrapper ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin-top: 20px;
}

.first-review-businesses-wrapper ul li {
  position: relative;
  width: 48.5%;
  padding-top: 20%;
  margin-bottom: 3%;
  border-radius: 4px;
  border: 1px solid var(--light-border-color);
}

.restaurant-thumbnail-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  overflow: hidden;
}

.restaurant-thumbnail-wrapper img {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 100%;
}

.restaurant-text-wrapper {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 100%;
  height: 100%;
  transform: translate(-3%, -20%);
}

.restaurant-text-wrapper a {
  font-family: 'helveticaBold';
  color: var(--blue);
  text-decoration: none;
}

.restaurant-text-wrapper a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.restaurant-text-wrapper p {
  font-family: 'helveticaNormal';
  color: var(--mid-text);
}

.restaurant-text-rating-wrapper {
  position: relative;
  width: 33%;
  height: 15%;
  margin-top: 2%;
}

.restaurant-text-rating-wrapper a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rating-image {
  position: absolute;
  top: 0;
  left: 0;
  content: url(/images/restaurant_detail/ratings/zero.png);
  height: 100%;
}

/* Rating hovering images */

.one-star-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: pink;
  /* width: 30px;
  height: 30px;
  background: transparent; */
}

.two-star-wrapper {
  position: absolute;
  top: -45%;
  left: 20%;
  width: 30px;
  height: 30px;
  background: transparent;
}

.three-star-wrapper {
  position: absolute;
  top: -45%;
  left: 41%;
  width: 30px;
  height: 30px;
  background: transparent;
}

.four-star-wrapper {
  position: absolute;
  top: -45%;
  left: 55.5%;
  width: 30px;
  height: 30px;
  background: transparent;
}

.five-star-wrapper {
  position: absolute;
  top: -45%;
  left: 82%;
  width: 30px;
  height: 30px;
  background: transparent;
}

.one-star-wrapper:hover,
.two-star-wrapper:hover,
.three-star-wrapper:hover,
.four-star-wrapper:hover,
.five-star-wrapper:hover {
  cursor: pointer;
}

.one-star-wrapper:hover ~ .rating-image {
  content: url(/images/restaurant_detail/ratings/one.png);
}

.two-star-wrapper:hover ~ .rating-image {
  content: url(/images/restaurant_detail/ratings/two.png);
}

.three-star-wrapper:hover ~ .rating-image {
  content: url(/images/restaurant_detail/ratings/three.png);
}

.four-star-wrapper:hover ~ .rating-image {
  content: url(/images/restaurant_detail/ratings/four.png);
}

.five-star-wrapper:hover ~ .rating-image {
  content: url(/images/restaurant_detail/ratings/five.png);
}

.one-star-wrapper:hover > .one-star-popup-wrapper,
.two-star-wrapper:hover > .two-star-popup-wrapper,
.three-star-wrapper:hover > .three-star-popup-wrapper,
.four-star-wrapper:hover > .four-star-popup-wrapper,
.five-star-wrapper:hover > .five-star-popup-wrapper {
  display: block;
}

.one-star-popup-wrapper {
  display: none;
  position: absolute;
  top: -140%;
  left: -150%;
}

.two-star-popup-wrapper {
  display: none;
  position: absolute;
  top: -140%;
  left: -240%;
}

.three-star-popup-wrapper {
  display: none;
  position: absolute;
  top: -140%;
  left: -50%;
}

.four-star-popup-wrapper {
  display: none;
  position: relative;
  top: -140%;
  left: -66%;
}

.five-star-popup-wrapper {
  display: none;
  position: relative;
  top: -140%;
  left: -250%;
}

.one-star-popup-wrapper p {
  font-family: 'helveticaBold';
  font-size: 12px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  width: 105px;
  padding: 7px;
  border-radius: 5px;
}

.two-star-popup-wrapper p {
  font-family: 'helveticaBold';
  font-size: 12px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  width: 163px;
  padding: 7px;
  border-radius: 5px;
}

.three-star-popup-wrapper p {
  font-family: 'helveticaBold';
  font-size: 12px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  width: 35px;
  padding: 7px;
  border-radius: 5px;
}

.four-star-popup-wrapper p {
  font-family: 'helveticaBold';
  font-size: 12px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  width: 80px;
  padding: 7px;
  border-radius: 5px;
}

.five-star-popup-wrapper p {
  font-family: 'helveticaBold';
  font-size: 12px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  width: 160px;
  padding: 7px;
  border-radius: 5px;
}

.one-star-popup-wrapper::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 45%;
  width: 0;
  height: 0;
  border-top: solid 7px rgba(0, 0, 0, 0.8);
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
}

.two-star-popup-wrapper::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 45%;
  width: 0;
  height: 0;
  border-top: solid 7px rgba(0, 0, 0, 0.8);
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
}

.three-star-popup-wrapper::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 45%;
  width: 0;
  height: 0;
  border-top: solid 7px rgba(0, 0, 0, 0.8);
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
}

.four-star-popup-wrapper::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 120%;
  width: 0;
  height: 0;
  border-top: solid 7px rgba(0, 0, 0, 0.8);
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
}

.five-star-popup-wrapper::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 275%;
  width: 0;
  height: 0;
  border-top: solid 7px rgba(0, 0, 0, 0.8);
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
}

/* Dynamic styling */

@media screen and (min-width: 320px) {
  .banner-text-wrapper .search-form.home .search-form.input-wrapper label,
  .banner-text-wrapper .search-form.home .search-form.input-wrapper label input { 
    font-size: calc(5px + 7 * ((100vw - 320px) / 680));
  }

  .banner-text-wrapper h1 {
    font-size: calc(15px + 15 * ((100vw - 320px) / 680));
  }

  .banner-text-wrapper p,
  .restaurant-text-wrapper a {
    font-size: calc(5px + 11 * ((100vw - 320px) / 680));
  }

  .first-review-businesses-wrapper h2 {
    font-size: calc(12px + 9 * ((100vw - 320px) / 680));
  }

  .restaurant-text-wrapper p {
    font-size: calc(3px + 11 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .banner-text-wrapper .search-form.home .search-form.input-wrapper label,
  .banner-text-wrapper .search-form.home .search-form.input-wrapper label input { 
    font-size: 15px;
  }

  .banner-text-wrapper h1 {
    font-size: 30px;
  }

  .banner-text-wrapper p,
  .restaurant-text-wrapper a {
    font-size: 16px;
  }

  .first-review-businesses-wrapper h2 {
    font-size: 21px;
  }

  .restaurant-text-wrapper p {
    font-size: 14px;
  }
}