.search-form.navbar {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-search-input-wrapper {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  background: white;
}

.search-form.navbar input {
  font-family: 'helveticaNormal';
  font-size: 16px;
  color: var(--black);
  box-sizing: border-box;
  padding: 15px;
  background: transparent;
}

.search-form.navbar input:first-of-type {
  width: 50%;
}

.navbar-search-separator-wrapper {
  border: 1px solid var(--light-border-color);
  border-radius: 3px;
  height: 25px;
  margin-top: 15px;
  background: yellowgreen;
}

.search-form.navbar input:last-of-type {
  width: 50%;
}

.navbar-search-icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  background: var(--light-red);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navbar-search-icon-wrapper:hover {
  background: var(--red);
  transition: all 0.15s;
  cursor: pointer;
}

.search-form button[type=submit] {
  display: none; 
}

.navbar-search-icon {
  content: url('/images/homepage/search_icon.png');
  width: 25px;
}

/* Normal search bar (on homepage) */

.search-form button[type=submit] {
  display: none; 
}

.search-input-wrapper { 
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 10%;
  background: white;
  border-radius: 5px;
} 

.find-input-wrapper,
.near-input-wrapper {
  padding-left: 15px;
}

.find-input-wrapper {
  width: 55%;
}

.near-input-wrapper {
  width: 45%;
}

.search-input-wrapper .find-input-wrapper label,
.search-input-wrapper .near-input-wrapper label {
  display: flex;
  flex-direction: row;
  font-family: 'helveticaBold';
  font-size: 18px;
  color: var(--mid-text);
  width: 100%;
}

.search-input-wrapper .find-input-wrapper label input,
.search-input-wrapper .near-input-wrapper label input {
  font-family: Helvetica;
  font-size: 18px;
  color: var(--black);
  border: none;
  margin-left: 10px;
  width: 100%;
}

.separator-wrapper {
  width: 1px;
  height: 35px;
  border-right: 1px solid var(--border-color);
}

.search-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
  height: 100%;
  background: var(--red);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-button-wrapper:hover {
  background: var(--dark-red);
  transition: all 0.15s;
  cursor: pointer;
}

.search-icon {
  content: url('/images/homepage/search_icon.png');
  width: 25px;
}