@import 'variables.css';

.search-result-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.search-result-body-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
}

.search-result-restaurant-list-container {
  width: 60%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.search-result-restaurant-list-container h1 {
  font-family: 'helveticaBold'; 
  color: var(--black);
}

.suggestions-container {
  margin-top: 4%;
}

.search-result-restaurant-list-container strong {
  font-family: 'helveticaBold';
  color: var(--black);
}

.suggestions-list-wrapper {
  list-style: none;
  font-family: 'helveticaNormal';
  color: var(--black);
  margin-top: 2%;
}

.all-reviews-wrapper {
  font-family: 'helveticaBold';
  color: var(--black);
  margin-top: 4%;
}

.restaurants-list-wrapper {
  list-style: none;
  margin-top: 30px;
  width: 100%;
}

.restaurants-list-wrapper li {
  border: 1px solid var(--light-border-color);  
  border-radius: 5px;
  box-sizing: border-box;
  padding: 3%;
}

.search-result-map-container {
  width: 40%;
  height: 100vh;
}

.search-result-map-container #restaurant-map { 
  width: 100%;
  height: 100%;
}

.search-result-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
}

.search-result-thumbnail-wrapper {
  position: relative;
  width: 35%;
  padding-top: 30%;
  overflow: hidden;
  border-radius: 5px;
}

.search-result-thumbnail-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.search-result-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-result-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  font-family: 'helveticaBold';
  color: var(--black);
}

.search-result-header-wrapper h2,
.search-result-header-wrapper a {
  display: inline-block;
  white-space: nowrap;
  color: var(--black);
  text-decoration: none;
}

.search-result-header-wrapper h2 {
  margin-right: 3%;
}

.search-result-header-wrapper a:last-of-type:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-result-details-wrapper {
  margin-left: 3%;
}

.search-result-rating-and-reviews-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-result-rating-and-reviews-wrapper img {
  margin-top: 2%;
  width: 50%;
  margin-right: 2%;
}

.search-result-rating-and-reviews-wrapper p {
  font-family: 'helveticaNormal';
  color: var(--mid-text);
  margin-top: 3%;
}

.search-result-price-category-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'helveticaNormal';
  color: var(--mid-text);
  margin-top: 3%;
}

.search-result-price-category-wrapper p:first-of-type,
.search-result-price-and-category-dot-wrapper {
  font-family: sans-serif;
}

.search-result-price-and-category-dot-wrapper {
  padding: 0 2%;
}

.search-result-meta-secondary {
  display: inline-block;
  white-space: nowrap;
  font-family: 'helveticaNormal';
  color: var(--mid-text);
  text-align: right;
}

.search-result-review-wrapper {
  font-family: 'helveticaNormal';
  color: var(--mid-text);
  margin-top: 20px;
}

/* Dynamic styling */

@media screen and (min-width: 320px) {
  .search-result-restaurant-list-container h1 {
    font-size: calc(13px + 13 * ((100vw - 320px) / 680));
  } 

  .search-result-restaurant-list-container strong {
    font-size: calc(10px + 4 * ((100vw - 320px) / 680));
  }

  .suggestions-list-wrapper,
  .search-result-rating-and-reviews-wrapper p,
  .search-result-price-category-wrapper,
  .search-result-review-wrapper  {
    font-size: calc(7px + 7 * ((100vw - 320px) / 680));
  }

  .all-reviews-wrapper {
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  }

  .search-result-header-wrapper h2,
  .search-result-header-wrapper a {
    font-size: calc(10px + 11 * ((100vw - 320px) / 680));
  }

  .search-result-meta-secondary {
    font-size: calc(5px + 7 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .search-result-restaurant-list-container h1 { 
    font-size: 26px;
  }

  .search-result-restaurant-list-container strong,
  .suggestions-list-wrapper {
    font-size: 14px;
  }

  .all-reviews-wrapper {
    font-size: 16px;
  }

  .search-result-header-wrapper h2,
  .search-result-header-wrapper a {
    font-size: 21px;
  }

  .search-result-rating-and-reviews-wrapper p,
  .search-result-price-category-wrapper,
  .search-result-review-wrapper {
    font-size: 14px;
  }

  .search-result-meta-secondary {
    font-size: 12px;
  }
}

@media screen and (max-width: 1120px) { 
  .search-result-restaurant-list-container {
    width: 100%;
  }

  .search-result-map-container {
    display: none;
  }
}