.search-result-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-result-body-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.search-result-restaurant-list-container {
  width: 60%;
  padding: 30px;
  box-sizing: border-box;
}

.search-result-map-container {
  width: 40%;
  height: 100vh;
}

.search-result-map-container #restaurant-map {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.search-result-item {
  display: flex;
  flex-direction: row;
  width: 100%;
}
 
/* .search-result-restaurant-list-wrapper,
.search-result-map-container {
  flex: 1; 
}

.search-result-item {
  display: flex;
  justify-content: flex-start;
}

.search-result-restaurant-detail {
  flex: 1;
}

.search-result-meta {
  display: flex;
  justify-content: space-between;
}

.search-result-meta-secondary {
  text-align: right;
} */