.search-form.navbar {
    width: 45%;
}

.search-form button[type=submit] {
    display: none;
}

/* Home Search ======================== */

.search-input-wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 50px;
  background: white;
  border-radius: 5px;
}

.find-input-wrapper,
.near-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
  box-sizing: border-box;
}

.find-input-wrapper {
  width: 53%;
}

.near-input-wrapper {
  width: 47%;
}

.search-input-wrapper .find-input-wrapper label,
.search-input-wrapper .near-input-wrapper label {
  display: flex;
  flex-direction: row;
  font-family: 'helveticaBold';
  font-size: 18px;
  color: var(--mid-text);
  width: 100%;
}

.search-input-wrapper .find-input-wrapper label input,
.search-input-wrapper .near-input-wrapper label input {
  font-family: Helvetica;
  font-size: 18px;
  color: var(--black);
  border: none;
  margin-left: 10px;
  width: 100%;
}

.separator-wrapper {
  width: 1px;
  height: 35px;
  border-right: 1px solid var(--border-color);
}

.search-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  background: var(--red);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-button-wrapper:hover {
  background: var(--dark-red);
  transition: all 0.15s;
  cursor: pointer;
}

.search-button-wrapper:hover > .search-icon {
  content: url('/images/homepage/search_hover_icon.png');
  width: 20px;
  height: 20px;
}

.search-icon {
  content: url('/images/homepage/search_icon.png');
  width: 20px;
  height: 20px;
}

/* Navbar Search ======================== */

.navbar-search-input-wrapper {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.05);
  margin-left: 75px;
}

.navbar-search-input-wrapper input[type="text"] {
  font-family: 'helveticaNormal';
  font-size: 16px;
  width: 50%;
  padding: 0 15px;
  border: none;
}

.navbar-search-input-wrapper input[type="text"]::placeholder {
  color: var(--subtle-text);
}

.navbar-search-separator-wrapper {
  width: 1px;
  height: 25px;
  border-right: 2px solid var(--light-border-color);
}

.navbar-search-icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 11%;
  height: 100%;
  background: var(--light-red);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navbar-search-icon {
  content: url('/images/navbar/search_icon.png');
  width: 22px;
  height: 22px;
}

.navbar-search-icon-wrapper:hover {
  width: 11%;
  height: 100%;
  background: var(--button-hover-red);
  transition: all 0.25s;
  cursor: pointer;
}

.navbar-search-icon-wrapper:hover > .navbar-search-icon{
  content: url('/images/navbar/search_hover_icon.png');
  width: 22px;
  height: 22px;
}