/* Home page search bar styling */

.search-form.home {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 10%;
  box-sizing: border-box;
  background: white;
  border-radius: 5px;
}

.search-form.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 92%;
  height: 60%;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 1.5%;
}

.search-form.input-wrapper label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'helveticaBold';
  color: var(--mid-text);
  width: 100%;
}

.search-form.input-wrapper label:first-of-type {
  width: 55%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-sizing: border-box;
  border-right: 1px solid var(--border-color);
}

.search-form.input-wrapper label:last-of-type {
  width: 45%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 2%;
}

.search-form.input-wrapper label input {
  font-family: Helvetica;
  color: var(--black);
  border: none;
  margin-left: 3%;
  width: 100%;
}

.search-form.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
  height: 100%;
  background: var(--red);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-form.button-wrapper:hover {
  background: var(--dark-red);
  transition: all 0.15s;
  cursor: pointer;
}

.search-form.search-icon {
  content: url('/images/homepage/search_icon.png');
  width: 30%;
}

.search-form button[type=submit] {
  display: none; 
}

/* Navbar search bar styling */

.search-form.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  height: 35%;
  border-radius: 5px;
  box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.09);
  background: white;
}

.search-form.navbar.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 100%;
}

.search-form.navbar.input-wrapper input {
  font-family: 'helveticaNormal';
  color: var(--black);
  width: 50%;
  box-sizing: border-box;
  padding-left: 3%;
  background: transparent;
}

.search-form.navbar.input-wrapper input:last-of-type {
  border-left: 2px solid var(--light-border-color);
}

.search-form.navbar.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  background: var(--light-red);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
}

.search-form.navbar.search-icon {
  width: 1.5em;
  height: 1.5em;
  box-shadow: none;
  background: var(--light-red);
}

.search-form.navbar button[type=submit] {
  display: none; 
}

/* Dynamic styling */

@media screen and (min-width: 320px) {
  .search-form.input-wrapper label,
  .search-form.input-wrapper label input {
    font-size: calc(5px + 13 * ((100vw - 320px) / 680));
  }

  .search-form.navbar.input-wrapper input {
    font-size: calc(6px + 10 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .search-form.input-wrapper label,
  .search-form.input-wrapper label input { 
    font-size: 18px;
  }

  .search-form.navbar.input-wrapper input {
    font-size: 16px;
  }
}

/* .navbar-search-input-wrapper {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  background: white;
}

.search-form.navbar input {
  font-family: 'helveticaNormal';
  font-size: 16px;
  color: var(--black);
  box-sizing: border-box;
  padding: 15px;
  background: transparent;
}

.search-form.navbar input:first-of-type {
  width: 50%;
}

.navbar-search-separator-wrapper {
  border: 1px solid var(--light-border-color);
  border-radius: 3px;
  height: 25px;
  margin-top: 15px;
  background: yellowgreen;
}

.search-form.navbar input:last-of-type {
  width: 50%;
}

.navbar-search-icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  background: var(--light-red);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navbar-search-icon-wrapper:hover {
  background: var(--red);
  transition: all 0.15s;
  cursor: pointer;
}

.search-form button[type=submit] {
  display: none; 
}

.navbar-search-icon {
  content: url('/images/homepage/search_icon.png');
  width: 25px;
}

.search-form button[type=submit] {
  display: none; 
}

form {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 10%;
  min-height: 30px;
  border-radius: 5px;
  background: white;
}

.search-form.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 92%;
  height: 60%;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 1.5%;
}

.search-form.input-wrapper label:first-of-type {
  width: 55%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-sizing: border-box;
  border-right: 1px solid var(--border-color);
}

.search-form.input-wrapper label:last-of-type {
  width: 45%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 2%;
}

.search-form.input-wrapper label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'helveticaBold';
  color: var(--mid-text);
  width: 100%;
}

.search-form.input-wrapper label input {
  font-family: Helvetica;
  color: var(--black);
  border: none;
  margin-left: 3%;
  width: 100%;
}

.search-form.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
  height: 100%;
  background: var(--red);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-form.button-wrapper:hover {
  background: var(--dark-red);
  transition: all 0.15s;
  cursor: pointer;
}

.search-icon {
  content: url('/images/homepage/search_icon.png');
  width: 30%;
}

@media screen and (min-width: 320px) {
  .search-form.input-wrapper label,
  .search-form.input-wrapper label input {
    font-size: calc(5px + 13 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .search-form.input-wrapper label,
  .search-form.input-wrapper label input { 
    font-size: 18px;
  }
} */