@font-face {
  font-family: 'helveticaRounded';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/HelveticaRoundedLTPro-Bd.woff') format('woff');
}

@font-face {
  font-family: 'helveticaExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/HelveticaNowTextExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'helveticaBold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/HelveticaNowTextBold.woff') format('woff');
}

@font-face {
  font-family: 'helveticaMedium';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/HelveticaNowTextMedium.woff') format('woff');
}

@font-face {
  font-family: 'helveticaNormal';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/HelveticaNowText.woff') format('woff');
}

@font-face {
  font-family: 'helveticaLight';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/HelveticaNowTextLight.woff') format('woff');
}

:root {
  /* Primary colors */
  --black: #333333;
  --blue: #0073bb;
  --light-red: #f33c40;
  --red: #d32323;
  --dark-red: #bd2226;
  --orange: #EC5E1A;

  /* Hover colors */
  --button-hover-red: #f11423;

  /* Background colors */
  --background-color: #f5f5f5;
  --medium-background-color: #e6e6e6;
  --border-color: #cccccc;
  --light-border-color: #e6e6e6;

  /* Text colors */
  /* For normal text color, use the primary black */
  /* For error text color, use the primary red */
  /* For link text color, use the primary blue */
  --mid-text: #666666;
  --subtle-text: #999999;
  --elite-text: #f15c00;
  --green: #41a700;
}